*{
    margin: 0;
    padding: 0;
}

.main-header img{
    width:60px;
    height: 75px;
    margin-right: 10px;
}

.book{
    color:rgb(12, 105, 158);
    font-size:1.5cm;
    font-style: oblique;
}

.main-header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9cm;
    color: rgb(71, 179, 241);
}

.my-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    margin: auto;
}

.my-form div{
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content:space-between; 
}

input[type=text]:focus{

     background-color: rgb(219, 210, 210);

}
input[type=text]{
    width: 300px;
    height: 20px;
}

.filler{
    flex:1;
}

.btn{
    display:initial;
    padding-top: 10px;
}

.btn button{
    width: 100%;
}

.title{
    font-size: 0.5cm;
    font-weight: bolder;
}

.author{
    font-size: 0.5cm;
    font-weight: bolder;
}

.isbn{
font-size: 0.5cm;
font-weight: bolder;
}

.btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.btn button{
    margin: auto;
    width: 100px;

}

table{

    table-layout: fixed;
    margin: auto;
    transform: translate(10%);
    margin-top: 40px;
    width: 80%;
    /* border: 1px solid black; */
    text-align: center;
    column-gap: 40px;
}

#last, #lasthead{
    border: none;
    background-color: white;
}

thead{
    background-color: rgb(124, 124, 126);
    height: 30px;
    color: aliceblue;
}
tbody tr:nth-child(even){
    background-color: rgb(186, 185, 190);
}
tbody tr:nth-child(odd){
    background-color: rgb(222, 219, 223);
}

.delete{
    background-color: rgb(248, 42, 42);
    color: aliceblue;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: left;
    padding-left: 3px;
    margin-left: 10px;
    text-align: center;
}

.error{
    margin: 20px auto;
    background-color: rgb(250, 20, 20);
    width: 40%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bolder;
    color:white
}

.success{
    margin: 20px auto;
    background-color: rgb(17, 158, 17);
    width: 40%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bolder;
    color:white
}

@media only screen and (max-width: 1000px){
    .title input{
        margin-left:35px;
    }
    .author input{
        margin-left:14px;
    }
    .isbn input{
        margin-left:20px;
    }
}